<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
    <main id="app">
        <form @submit.prevent="guardarTarea">
            <input v-model="nuevaTarea" type="text" placeholder="Tarea" required>
            <input type="submit" value="Enviar">
        </form>
        <ul>
            <li v-for="tarea in tareas">{{ tarea.title }}</li>
        </ul>
        <pre>{{ $data }}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            mounted() {
                axios.get(this.url)
                    .then(respuesta => this.tareas = respuesta.data)
                    .catch(error => console.error(error));
            },
            data: {
                nuevaTarea: '',
                url: 'https://jsonplaceholder.typicode.com/todos',
                tareas: [],
            },
            methods: {
                guardarTarea() {
                    axios.post(this.url, {
                        title: this.nuevaTarea,
                        userId: Math.floor(Math.random() * 10) + 1,
                    })
                    .then(respuesta => {
                        console.log(respuesta);
                        this.tareas.unshift({
                            title: this.nuevaTarea,
                        });
                        this.nuevaTarea = '';
                    })
                    .catch(error => console.error(error));
                }
            }
        });
        Vue.config.devtools = true;
    </script>
</body>
</html>